/* Variables */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$backgrey: rgb(173, 173, 173);
$text-light: white;
$text-dark: black;
$background: rgb(245, 245, 245);
$background-button: linear-gradient(to top, $primary-color, $secondary-color);
$background-button-hover: linear-gradient(to top, lighten($primary-color, 5%), lighten($secondary-color, 5%));
$padding-section: 40px 20px 50px 20px;
$box-shadow : 0 3px 10px $backgrey;
$carte-opacity-entrees: carte-opacity 300ms both;
$plat-anim-entrees: plat-anim 800ms 300ms both;
$carte-opacity-plats: carte-opacity 300ms 800ms both;
$plat-anim-plats: plat-anim 800ms 1100ms both;
$carte-opacity-desserts: carte-opacity 300ms 1900ms both;
$plat-anim-desserts: plat-anim 800ms 2200ms both;

/* KEYFRAMES */
@-webkit-keyframes loader-page
{
    0%{
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
        z-index: 3;
    }
    99%
    {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
        z-index: 3;
    }
    100%{
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
        z-index: -1
    }

}
@keyframes loader-page
{
    0%{
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
        z-index: 3;
    }
    99%
    {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
        z-index: 3;
    }
    100%{
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
        z-index: -1
    }

}

@-webkit-keyframes loader-progress
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }


}

@keyframes loader-progress
{
    0%
    {
        opacity: 0;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }
    100%
    {
        opacity: 1;
    }

}

@-webkit-keyframes loader-barre
{
    0%
    {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
    }
    3%
    {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    25%
    {
        -webkit-transform: scaleX(0.20);
                transform: scaleX(0.20);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    50%
    {
        -webkit-transform: scaleX(0.40);
                transform: scaleX(0.40);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    90%
    {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        
    }
    100%
    {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }

}

@keyframes loader-barre
{
    0%
    {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
    }
    3%
    {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    25%
    {
        -webkit-transform: scaleX(0.20);
                transform: scaleX(0.20);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    50%
    {
        -webkit-transform: scaleX(0.40);
                transform: scaleX(0.40);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    90%
    {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        
    }
    100%
    {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }

}

@-webkit-keyframes carte-opacity
{
    0%
    {
        opacity: 0;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }

    100%
    {
        opacity: 1;
    }
}

@keyframes carte-opacity
{
    0%
    {
        opacity: 0;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }

    100%
    {
        opacity: 1;
    }
}

@-webkit-keyframes plat-anim
{
    0%
    {
        opacity: 0;
        -webkit-transform: translateY(10px);
                transform: translateY(10px);
        -webkit-box-shadow: 0 0px 0px $backgrey;
                box-shadow: 0 0px 0px $backgrey;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }

    100%
    {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        -webkit-box-shadow: $box-shadow;
                box-shadow: $box-shadow;
    }
}

@keyframes plat-anim
{
    0%
    {
        opacity: 0;
        -webkit-transform: translateY(10px);
                transform: translateY(10px);
        -webkit-box-shadow: 0 0px 0px $backgrey;
                box-shadow: 0 0px 0px $backgrey;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }

    100%
    {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        -webkit-box-shadow: $box-shadow;
                box-shadow: $box-shadow;
    }
}

@-webkit-keyframes accueil-opacity
{
    0%
    {
        opacity: 0;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }
    100%
    {
        opacity: 1;
    }

}

@keyframes accueil-opacity
{
    0%
    {
        opacity: 0;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }
    100%
    {
        opacity: 1;
    }

}

