/* SECTION LOADER */
.loader
{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    -webkit-animation: loader-page 3000ms forwards;
            animation: loader-page 3000ms forwards;
    &__logo
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 300px;
        margin-bottom: 40px;
        -webkit-animation: loader-progress 2250ms 250ms both;
                animation: loader-progress 2250ms 250ms both;
    }
    &__progress
    {
        width: 80%;
        height: 30px;
        margin: auto;
        border: 1px solid $primary-color;
        -webkit-animation: loader-progress 2250ms 250ms both;
                animation: loader-progress 2250ms 250ms both;
        &__barre
        {
            height: 100%;
            width: 100%;
            background: -webkit-gradient(linear, left top, right top, from($primary-color), to($secondary-color));
            background: -o-linear-gradient(left, $primary-color, $secondary-color);
            background: linear-gradient(to right, $primary-color, $secondary-color);
            -webkit-transform-origin: 0% 50%;
                -ms-transform-origin: 0% 50%;
                    transform-origin: 0% 50%;
            -webkit-animation: loader-barre 2250ms 250ms both;
                    animation: loader-barre 2250ms 250ms both;
        }
    }
}



/* SECTION EXPLO */
.background
{
    height: 50px;
    display: block;
    position: relative;
    background-color: rgb(233, 232, 232);
    &::before
    {
        content: " ";
        height: 4px;
        width: 100%;
        position: absolute;
        top: -4px;
        left: 0;
        opacity: 0.3;
        -webkit-box-shadow: 0px 3px 3px #858585;
                box-shadow: 0px 3px 3px #858585;

    }
}

.explo{
    padding: $padding-section;
    background-color: $background;
}

/* SECTION FONCTION */
.fonction
{
    padding: 40px 20px 50px 30px;
    animation: accueil-opacity 3000ms forwards;
    &__li
    {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 40px;
        height: 70px;
        margin-bottom: 15px;
        background-color: $background;
        border-radius: 20px;
        &:hover
            {
                background-color: lighten($primary-color, 35%);
                & .ico--fonction
                {
                    -webkit-filter: invert(43%) sepia(66%) saturate(4357%) hue-rotate(245deg) brightness(93%) contrast(85%);
                            filter: invert(43%) sepia(66%) saturate(4357%) hue-rotate(245deg) brightness(93%) contrast(85%);
                }
                
            }
        &__num
        {
            width: 24px;
            height: 24px;
            top: 22px;
            left: -12px;
            position: absolute;
            border-radius: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background-color: $primary-color;
            color: white;
        }
        &__div
        {
            width: 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            
        }

    }
}

/* SECTION RESTO */
.resto{
    padding: $padding-section;
    background-color: $background;
    animation: accueil-opacity 3000ms forwards;
    &__li{
        margin-bottom: 20px;
    }
    &__a{
        &__top{
            height: 170px;
            border-radius: 15px 15px 0 0;
            -webkit-box-shadow: $box-shadow;
                    box-shadow: $box-shadow; 
            &__1{
                position: relative;
                background: url(/css/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat;  
                background-size: 105%;
                background-position: center bottom;
            }
            &__2{
                position: relative;
                background: url(/css/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) no-repeat;  
                background-size: cover;
                background-position: center 60%;
            }
            &__3{
                background: url(/css/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash_light.jpg) no-repeat;  
                background-size: cover;
                background-position: center 95%;
            }
            &__4{
                background: url(/css/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) no-repeat;  
                background-size: cover;
                background-position: center 95%;
            }
        }
        &__bottom{
            height: 80px;
            position: relative;
            background: white;
            border-radius: 0 0 15px 15px;
            -webkit-box-shadow: $box-shadow;
                    box-shadow: $box-shadow; 
            padding: 15px 20px 15px 10px;
            &__heart /* La div est de même taille que les deux svg coeurs qu'elle contient en absolute */
            {
                width: 25px;
                height: 22px;
                position: absolute;
                right: 25px;
                top: 20px;
                &:hover > .heart--full
                {
                    opacity: 1;
                }
                &:hover > .heart--wide
                {
                    opacity: 0;
                }
            }
        }
        &:hover > :nth-child(1)
        {
            opacity: 90%;
        }
    }

}

.nouveau{
    width: 80px;
    height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 15px;
    top: 13px;
    background-color: $third-color;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 10px black;
            box-shadow: 0 1px 10px black;
}

/* MEDIA QUERIES */

@media (min-width: 650px)
{
    .fonction
    {
        max-width: 50%;
        margin: auto;
    }
    .resto__ul
    {
        max-width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
}

@media (min-width: 1000px)
{
    .fonction
    {
        max-width: 400px;
        margin: auto;
    }
    .resto__ul
    {
        max-width: 60%;
    }
    .resto__a__top
    {
        height: 250px;
    }
}




