.button
{
    display: block;
    margin: auto;
    background-color: $primary-color;
    border-radius: 25px;
    padding: 15px;
    color: white;
    cursor: pointer;
    &:hover
    {
        background-color: $secondary-color;
    }
    &--explo{
        width: 70%;
        margin-top: 30px;
        text-align: center;

    }
}


