.button
{
    display: block;
    margin: auto;
    background: $background-button;
    border-radius: 25px;
    padding: 15px;
    color: white;
    cursor: pointer;
    text-align: center;
    box-shadow: $box-shadow;
    &--explo
    {
        width: 65%;
        margin-top: 30px; 
    }
    &--commande
    {
        width: 55%;
    }
    &:hover
    {
        background: $background-button-hover;
        box-shadow: 0 3px 10px darken($backgrey, 30%);
    }
}

/* MEDIA QUERIES */
@media (min-width: 600px)
{
    .button
    {
        &--explo
        {
            max-width: 40%;
        }
        &--commande
        {
            max-width: 40%;
        }
    }
}

@media (min-width: 1100px)
{
    .button
    {
        &--explo
        {
            max-width: 20%;
        }
    }
}


