.button
{
    display: block;
    margin: auto;
    background: $background-button;
    border-radius: 25px;
    padding: 15px;
    color: white;
    cursor: pointer;
    text-align: center;
    -webkit-box-shadow: $box-shadow;
            box-shadow: $box-shadow;
    &--explo
    {
        width: 65%;
        margin-top: 30px; 
        font-weight: 400;
    }
    &--commande
    {
        width: 55%;
    }
    &:hover
    {
        background: $background-button-hover;
        -webkit-box-shadow: 0 3px 10px darken($backgrey, 30%);
                box-shadow: 0 3px 10px darken($backgrey, 30%);
    }
}

/* MEDIA QUERIES */
@media (min-width: 650px)
{
    .button
    {
        &--explo
        {
            max-width: 40%;
        }
        &--commande
        {
            max-width: 30%;
            margin-top: 50px;
        }
    }
}

@media (min-width: 1000px)
{
    .button
    {
        &--explo
        {
            max-width: 300px;
        }
        &--commande
        {
            max-width: 15%;
        }
    }
}


