.heart--wide /* Les 2 icones heart sont reliés pour la page d'accueil : 
- à la div resto__bottom__heart du fichier index.scss. La transition est déclenchée au hover de cette div.
Pour les pages de menu :hover
- à la div commande__divico du fichier page_menu.scss. La transition est déclenchée au hover de cette div*/
{
    height: 22px;
    width: 25px;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;

}

.heart--full
{
    height: 22px;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}
