.header{
    height: 68px;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    background: white;
    &__logo{
            &__a{
                position: relative;

            }
            &__img{
                max-width: 45%; 
            }
    }
    &__arrow{
    position: absolute;
    left: 20px;
    top: 27px;
    }
}

.local{
    position: absolute;
    left: 0;
    top: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    z-index: 2;
}

@media (min-width: 600px)
{
    .header
    {
        &__arrow{
            position: absolute;
            left: 50px;
            }
    }
}