.header{
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    &__arrow{
        display: none;
    }
    &__logo{
            &__a{
                position: relative;

            }
            &__img{
                max-width: 45%; 
            }
    }
}

.local{
    position: absolute;
    left: 0;
    top: 45px;
    display: flex;
    &__i{
        margin-right: 20px;
    }
}